/* .order {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

.order img {
    cursor: pointer;
}

.order__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 20px;
    left: 73%;

    background-color: white;
    text-align: start;
    box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.order__container span {
    cursor: pointer;
    padding: 1rem;
    background-color: var(--white);
    border-bottom: 1px solid rgba(118, 119, 119, 0.2);
}

.order__container span:first-child {
    background-color: rgba(209, 214, 214, 0.2);
}

.order__title {
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.08px;
    color: #373737;
} */