.filters {
    display: flex;
    width: 100%;
}

.filters span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 10px;
}

.filters__options {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filters__options span {
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #373737;
}

.filters__options-all:hover,
.filters__options-cars:hover,
.filters__options-pickups:hover,
.filters__options-svus:hover {
    border-radius: 18px;
    background-color: #f7f7f7;
}

/* ------Filters Responsive------ */
.filters__responsive {
    display: none;
}

.filters__responsive span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #373737;
}

.filters__responsive-container {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    text-align: start;
    box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.filters__responsive-container span {
    cursor: pointer;
    padding: 1rem;
    border-bottom: 1px solid rgba(118, 119, 119, 0.2);
}

.filters__responsive-container span:first-child {
    background-color: rgba(209, 214, 214, 0.2);
}

.filters__responsive img {
    cursor: pointer;
    margin-left: 5px;
}

@media screen and (max-width: 1440px) {
    .filters__options {
        width: 80%;
    }

}

@media screen and (max-width: 850px) {
    .filters__options {
        display: none;
    }

    .filters {
        display: none;
    }

    .filters__responsive {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
    }
}