
.car__container{
    padding: 0.5rem 2rem;
    height: 275px;
    margin-top: 1rem;
}

.car__image {
    width: 280px;
    height: 200px;
    object-fit: contain;
}
.car__container-body{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.car__title {

    margin-bottom: 0.5rem;
    font-size: 28px;
    font-weight: 600;
}

.car__buttonDetail{
    width: 160px;
    object-fit: contain;
}

@media screen and (max-width: 1440px) {
    .car__container{
        padding: 2.5rem 1.5rem;
    }
}